---
import Layout from '../layouts/Layout.astro';
import MealForm from '../components/MealForm.astro';
---

<Layout title="Registrar Comida">
    <main>
        <MealForm />
    </main>
</Layout>

<script>
    import { initializeAuth } from '../lib/auth';
    initializeAuth();
</script>